<h4>List of custmoers</h4>

<div *ngFor="let customer of customers | async; let i = index">
  <!--<img src="{{customer.profile_photo}}" alt="">-->
  <button (click)="gotoDetail(customer?.$key)">{{customer?.user_name}}</button>
  <button (click)="gotoDetail(customer?.$key)">{{customer?.membership}}</button>
  <button (click)="gotoDetail(customer?.$key)">{{customer?.$key}}</button>
</div>

<div *ngIf="customerObject">
  <h6>{{ customerObject.user_name }}</h6>
  <p>Id: {{customerObject.$key}}</p>
  <p>Email: {{customerObject.email}}</p>
  <p>DOB: {{customerObject.date_of_birth}}</p>
</div>