<img src="{{ (customerDetail | async)?.profile_photo }}" alt="">
<!--<div *ngIf="(customerDetail | async)?.membership !== 'Free'">
</div>-->
<div>
  <!--<qr-code [value]="qrcodeValue" [size]="200"></qr-code>-->
  <!--<qrcode [qrdata]="'My QR code data string'" [size]="256" [level]="'M'"></qrcode>-->
</div>
<button large (click)="blockUser()">Block User</button>
<!--<p>{{ (customerDetail | async)?.profile_photo</p>-->
<button (click)="deleteUser()">DELTE USER :O</button>
<div>User Name: {{ (customerDetail | async)?.user_name }}</div>
<div>Email: {{ (customerDetail | async)?.email }}</div>
<div>Membership: {{ (customerDetail | async)?.membership }}</div>
<button *ngIf="disableStatus == true" (click)="statusDisabled()">Update Status</button>
<button *ngIf="disableStatus == false" (click)="lockStatus()">Lock Status</button>
<select (change)="updateMembership()" #updateStatus [disabled]="disableStatus">
  <option *ngFor="let state of status"
  value="{{state}}"
  [selected]="state==(customerDetail | async)?.membership"
  >{{state}}</option>
</select>
<div>Address: {{ (customerDetail | async)?.address }}</div>
<div>Contact: {{ (customerDetail | async)?.contact }}</div>
<div>Secondary Contact: {{ (customerDetail | async)?.secondaryContact }}</div>
<div>Date of birth: {{ (customerDetail | async)?.date_of_birth }}</div>

<h4>Videos</h4>
<div *ngFor="let video of videos | async">
  <h6>{{video.title}}</h6>
  <video src="{{video.video}}" style="width:100%; height:180px; margin-top:20px" controls></video>
  <p>{{video.description}}</p>
  <button (click)="deleteVideo(video.$key, video.storageNumber)">Delete</button>
</div>